@import "../../commons/style.scss";
.comments {
  .comments-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .comments-input {
    display: flex;
    margin: 0;
    margin-top: 10px;
    .input {
      display: flex;
      align-items: center;
      background: $primary-text;
      flex: 1;
      border-radius: 40px;
      overflow: hidden;
      margin-left: 12px;
      input {
        flex: 1;
        height: 32px;
        padding-left: 20px;

        border: none;
        &:focus {
          outline: none;
        }
      }
      .icon {
        margin-right: 12px;
        cursor: pointer;
      }
    }
  }
  .comments-list {
  }
}
