@import '../../commons/style.scss';
.auth-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: $primary-text;
  border-radius: 6px;
  width: 400px;
  border: none;
  padding: 20px 20px;
  max-height: 385px;
  &:focus-visible{
    outline: none;
  }
  .auth-form-active{
    color: $primary-color-hover;
  }
  span {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0;
    h4 {
      font-size: 18px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
        color: $primary-color-hover;
        cursor: pointer;
      }
    }
  }
}
